extends layout

block content
  div.container
    div.row
      div.col
        form.form-inline(action='/', method='get')
          div.form-group
            label(for='videoId') Video ID:
            input.form-control(type='text', name='videoId', id='videoId')
            button.btn.btn-primary(type='submit') 댓글 추출

    if data
      if data.nextPageToken
        div.row
          div.col nextpage: true
      div.row
        div.col
          each v, i in data.items
            p= v
